
a {
  text-decoration: none !important;
}

h3.giveMeEllipsis {
  margin-top: 10px;
}

// Fix the focus glow on all inputs to be white
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 15px rgba(255, 255, 255, 0.6);
  outline: 0 none;
}

#results {
  margin: 10px 0 0 -15px;
}

#map-content {
  height: 100vh;
  position: fixed;
}

.discover-bg {
  background-image: url('../../../public/images/cityscape.jpg');
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.discover-input {
  background-color: rgba(255, 255, 255, 0.25);
  color: rgba(255, 255, 255, 0.9);
  border-color: rgba(255, 255, 255, 0.5);
  max-width: 600px;
  font-weight: 200;

  .discover-input ::-webkit-input-placeholder { /* WebKit browsers */
    color: rgba(255, 255, 255, 0.5);
  }
  .discover-input :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: rgba(255, 255, 255, 0.5);
  }
  .discover-input ::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: rgba(255, 255, 255, 0.5);
  }
  .discover-input :-ms-input-placeholder { /* Internet Explorer 10+ */
    color: rgba(255, 255, 255, 0.5);
  }

}

.discovery-result-panel > .panel-heading {
  padding: 0 !important;
}

.giveMeEllipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1; /* number of lines to show */
  //line-height: X;        /* fallback */
  //max-height: X*N;       /* fallback */
}

.input-group-addon {
  font-size: 1rem;
  background-color: rgba(255, 255, 255, 0.4);
  color: rgba(255, 255, 255, 0.85);
}

.input-group .trvlrs-location {
  margin-bottom: -10px;
}

.navbar-default .navbar-brand {
  color: #ffffff;
  position: relative;
  top: -6px;
}

.result-card {
  margin: 7px -7px;
  height: 235px;
}

.result-card-head {
  height: 185px;
  background-size: cover;
  background-repeat: no-repeat;
  border: none;
  position: relative;
  padding: 0;
}

.result-card-name {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: block;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 0 15px;
}

.result-card-name:hover {
  background-color: rgba(69, 187, 255, 0.70);
}

.result-card-body {
  padding: 5px 15px 0 15px;
  color: $brand-primary;
}
.result-card-body:hover {
  background-color: rgba(69,187,255,0.1);
  padding-bottom: 3px;
}

.star-rating {
  position: absolute;
  bottom: 41px;
  width: 100%;
  background: rgba(0, 0, 0, 0.0); /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.5)); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.5)); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.5)); /* For Firefox 3.6 to 15 */
  background: linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.5)); /* Standard syntax */
}

.star-rating p {
  color: gold;
  padding: 0 15px;
  position: relative;
  bottom: -9px;
}


